<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso perfil</title>
    {% load static %}
    <link rel="stylesheet" href="../../static/dist/css/loginFerme.css">
</head>
<body>
    <div>
        <section class="form-login">
            <h3>Ingresar usuario Ferme</h3>
            <form method="POST">
                <input class="control" type="text" name="username" placeholder="Usuario">
                <input class="control" type="password" name="password" placeholder="contraseña">
                <button class="boton" name="opcion" type="submit" href="#"><a href="mantenedores" style="color: white;">Ingresar</a></button>
            </form>
        </section>
    </div>
</body>
</html>1