

<section class="content">
<div class="section">
			<!-- container -->
			<div class="container-fluid">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">


<!-- Order Details -->
					<div class="col-md-7 order-details">
						<div class="section-title text-center">
							<h3 class="title">Detalle de compras</h3>
						</div>
						<div class="order-summary">
							<div class="order-products">
	
									<table id="tablaDetalleCompra" class="table table-bordered table-striped">
				                     <thead>
				                        <tr>
				                           <th>Producto</th>
				                           <th>cantidad</th>
				                           <th>Total</th>
				                           <th>Acción</th>
				                        </tr>
				                     </thead>
				                     <tbody>
				                     </tbody>
				                  </table>
		
							</div>

						</div>
					</div>
					
					<!-- /Order Details -->
					<div class="col-md-4 order-details">
						<div class="section-title text-center">
							<h3 class="title">Comprar pedido</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">

							</div>
							<div class="order-products">
								<div class="cart-summary" id="subTotalBaucher">
									
								</div>
							</div>
						</div>
						<div class="form-group">
								<label for="idRegion">
										<span></span>
										Tipo de documento
									</label>
								<span><small id="spDoc"></small></span>
								<select class="input" id="documentoId" name="documentoId">
		                          <option disabled selected>seleccione boleta o factura</option>  
		                          <option value="1">Boleta</option>
		                          <option value="2">Factura</option>
		                        </select>
							</div>
						<div class="payment-method">
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-4" value="4">
								<label for="payment-4">
									<span></span>
									Transferencia bancaria
								</label>
								<div class="caption">
									<p>Paga con tarjeta de banco mediante webpay</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-2" value="2">
								<label for="payment-2">
									<span></span>
									Pago a crédito
								</label>
								<div class="caption">
									<p>Paga con tarjetas de credito visa o mastercard</p>
								</div>
							</div>
							<div class="input-radio">
								<input type="radio" name="payment" id="payment-3" value="3">
								<label for="payment-3">
									<span></span>
									Tarjeta debito
								</label>
								<div class="caption">
									<p>Paga mediante cualquier tarjeta debito</p>
								</div>
							</div>
						</div>
						<div class="form-group">
								<div class="input-checkbox">
									<input type="checkbox" id="despachar">
									<label for="despachar">
										<span></span>
										Despacho a domicilio?
									</label>
									<div class="caption">
										<p>Los despachos solo están disponibles dentro de la comuna de San Bernardo, si usted compra un producto y no reside en la comuna deberá retirar en tienda</p>
										<input class="input" type="text" id="direccionDespacho" name="direccionDespacho" placeholder="Ingrese dirección">
									</div>
								</div>
							</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								Acepto los terminos y condiciones <a href="#">terms & conditions</a>
							</label>
						</div>
						<a style="cursor: pointer;" id="btnCompletarCompraCliente" class="primary-btn order-submit">Completar la compra</a>
					</div>
					<!-- /Order Details -->
  </div>
</div>
</div>

</div>
</div>
</section>
