{% extends 'cliente/indexCliente.html' %}

{% block content %}




                   <div id="containerRight">

<!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- ASIDE -->
          <div id="aside" class="col-md-3">
            <!-- aside Widget -->
            <div class="aside">
              <h3 class="aside-title">Marcas</h3>
              <div class="checkbox-filter">

                <div class="input-checkbox">
                  <input type="checkbox" id="category-1">
                  <label for="category-1">
                    <span></span>
                    Bosch
                    <small>(120)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-2">
                  <label for="category-2">
                    <span></span>
                    Makita
                    <small>(740)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-3">
                  <label for="category-3">
                    <span></span>
                    Stanley
                    <small>(1450)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-4">
                  <label for="category-4">
                    <span></span>
                    DeWalt
                    <small>(578)</small>
                  </label>
                </div>
               
              </div>
            </div>
            <!-- /aside Widget -->

            
          </div>
          <!-- /ASIDE -->

          <!-- STORE -->
          <div id="store" class="col-md-9">
            <!-- /store top filter -->

            <!-- store products -->
            <div class="row">
              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/destornillador.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Herramienta eléctrica</p>
                    <h3 class="product-name"><a href="#">Destornillador eléctrico</a></h3>
                    <h4 class="product-price">$45.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="ProductoDetalleHerramientas">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/Lijadora-Eléctrica-Dwe6423-Marca-Dewalt.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Herramienta eléctrica</p>
                    <h3 class="product-name"><a href="#">Lijadora eléctrica deWalt</a></h3>
                    <h4 class="product-price">$25.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/Lijadora-Orbital-1-1024x653.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Herramienta eléctrica</p>
                    <h3 class="product-name"><a href="#">Lijadora Eléctrica Einhell</a></h3>
                    <h4 class="product-price">$21.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-lg visible-md"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/taladro-electrico-bosch-con-percusion-gsb-19-2-re-maletin.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Herramienta eléctrica</p>
                    <h3 class="product-name"><a href="#">Perforador Eléctrico Bosch</a></h3>
                    <h4 class="product-price">$29.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/1300x1300-178888-F1.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Herramienta eléctrica</p>
                    <h3 class="product-name"><a href="#">Destornillador eléctrico Bosch</a></h3>
                    <h4 class="product-price">$28.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/taladro-electrico-bosch-con-percusion-gsb-19-2-re-maletin.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Herramienta eléctrica</p>
                    <h3 class="product-name"><a href="#">Perforador eléctrico Bosch</a></h3>
                    <h4 class="product-price">$60.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

              <!-- /product -->
            </div>
            <!-- /store products -->

            <!-- store bottom filter -->
            <div class="store-filter clearfix">
              <span class="store-qty"></span>
              <ul class="store-pagination">
                <li class="active">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
            <!-- /store bottom filter -->
          </div>
          <!-- /STORE -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->
</div>

{% endblock %}