{% extends 'cliente/indexCliente.html' %}

{% block content %}


<div id="containerRight">

<!-- SECTION -->
    <div class="section">
      <!-- container -->
      <div class="container">
        <!-- row -->
        <div class="row">
          <!-- ASIDE -->
          <div id="aside" class="col-md-3">
            <!-- aside Widget -->
            <div class="aside">
              <h3 class="aside-title">Sub Categorias</h3>
              <div class="checkbox-filter">

                <div class="input-checkbox">
                  <input type="checkbox" id="category-1">
                  <label for="category-1">
                    <span></span>
                    Muebles
                    <small>(120)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-2">
                  <label for="category-2">
                    <span></span>
                    Alfombras
                    <small>(740)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-3">
                  <label for="category-3">
                    <span></span>
                    Lamparas
                    <small>(1450)</small>
                  </label>
                </div>

                <div class="input-checkbox">
                  <input type="checkbox" id="category-4">
                  <label for="category-4">
                    <span></span>
                    Baño
                    <small>(578)</small>
                  </label>
                </div>
               
              </div>
            </div>
            <!-- /aside Widget -->

            
          </div>
          <!-- /ASIDE -->

          <!-- STORE -->
          <div id="store" class="col-md-9">
            <!-- /store top filter -->

            <!-- store products -->
            <div class="row">
              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/categoriaHogar/852666.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Muebles</p>
                    <h3 class="product-name"><a href="#">Mesa escritorio de nogal</a></h3>
                    <h4 class="product-price">$120.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="ProductoDetalleHogar">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/categoriaHogar/http___s3.amazonaws.com_imagenes-sellers-mercado-ripley_2021_01_22162424_Rack-Padua-Negro-2.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Muebles</p>
                    <h3 class="product-name"><a href="#">Mueble para living/comedor</a></h3>
                    <h4 class="product-price">$59.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/categoriaHogar/583882-56141-1.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Muebles</p>
                    <h3 class="product-name"><a href="#">Sillas exterior/interior</a></h3>
                    <h4 class="product-price">$29.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-lg visible-md"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/categoriaHogar/3422518.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Baño</p>
                    <h3 class="product-name"><a href="#">Sala de baño 2 piezas</a></h3>
                    <h4 class="product-price">$980.00</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-sm visible-xs"></div>

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/categoriaHogar/203006277_1.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Lampara</p>
                    <h3 class="product-name"><a href="#">Lampara de escritorio</a></h3>
                    <h4 class="product-price">$8.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <!-- product -->
              <div class="col-md-4 col-xs-6">
                <div class="product">
                  <div class="product-img-cat">
                    <img src="/static/Cliente/img/categoriaHogar/D_NQ_NP_921479-MLA45309284819_032021-O.jpg" alt="">
                          <div class="product-label">
                      </div>
                    </div>
                  <div class="product-body">
                    <p class="product-category">Baño</p>
                    <h3 class="product-name"><a href="#">Espejo de baño</a></h3>
                    <h4 class="product-price">$10.990</h4>
                    <div class="product-btns">
                      <a class="primary-btn cta-btn" href="#">Compra ya!</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /product -->

              <div class="clearfix visible-lg visible-md visible-sm visible-xs"></div>

              <!-- /product -->
            </div>
            <!-- /store products -->

            <!-- store bottom filter -->
            <div class="store-filter clearfix">
              <span class="store-qty"></span>
              <ul class="store-pagination">
                <li class="active">1</li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
            <!-- /store bottom filter -->
          </div>
          <!-- /STORE -->
        </div>
        <!-- /row -->
      </div>
      <!-- /container -->
    </div>
    <!-- /SECTION -->
</div>

{% endblock %}