<section>
	<div id="containerRight">
	   <section class="content">
		  <div class="row">
			 <div class="col-xs-12">
				<div class="box">
				   <div class="box-header">
					  <table id="tblTitulo1" class="table1" width="100%" border="0">
						 <tbody>
							<tr>
							   <td>
								  <h1 class="box-title"><font size="10"><b>&nbsp;&nbsp;&nbsp;Listado de sucursales</b></font></h1>
							   </td>
							   <td align="right"><button disabled="" align="right" class="btn btn-danger " name="commit" value="Modificar" type="reset" onclick="javascript:wpar.mpMater.editCursoMate('-1')"><i class="fa fa-plus"></i> Crear</button></td>
							</tr>
						 </tbody>
					  </table>
					  <hr>
					  <div class="portlet-body">
						 <div class="container_table box-title1 table-responsive">
							<div id="tblData_wrapper" class="dataTables_wrapper no-footer">
							   <div id="tblData_filter" class="dataTables_filter"><label>Search:<input type="search" class="" placeholder="" aria-controls="tblData"></label></div>
								 
								  <div class="dataTables_scrollBody">
									 <table id="tblData" class="table table-responsive table-striped table-bordered tablehead table-hover table-condensed dataTable no-footer" role="grid" aria-describedby="tblData_info">
										<thead>
										   <tr class="colhead" role="row">
										
											  <th class="sorting" aria-controls="tblData" rowspan="1" colspan="1">
												 <div class="dataTables_sizing">Dirección</div>
											  </th>
											  <th class="sorting" aria-controls="tblData" rowspan="1" colspan="1">
												 <div class="dataTables_sizing">Comuna</div>
											  </th>
											  <th class="sorting" aria-controls="tblData" rowspan="1" colspan="1">
												 <div class="dataTables_sizing" >Región</div>
											  </th>
											  <th class="sorting" aria-controls="tblData" rowspan="1" colspan="1">
												 <div class="dataTables_sizing"></div>
											  </th>
										   </tr>
										</thead>



										<tbody>
                    {% for Sucursal in object_list %}
                    <tr>
                      <td>{{ Sucursal.direccion }}</td>
                      <td>{{ Sucursal.comuna }}</td>
                      <td>{{ Sucursal.region }}</td>
                      <td>
                        
                        <form method="POST" action="{{Sucursal.id_sucursal}}">
                          
                          {% csrf_token %}
                          
                          <div class="btn-group">
                            <a href="detalle/{{Producto.codigo}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                            <a href="editar/{{postre.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                              Eliminar
                            </button>
                            <a href="javascript:ventana.showHTML('containerRight','region')" title="Eliminar"><i class="fas fa-trash"></i> </a>                       
                          </div>

                        </form>

                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
									 </table>
								  </div>
							   </div>
							   <div class="dataTables_info" id="tblData_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div>
							</div>
						 </div>
					  </div>
					  <!-- /.box-header -->
				   </div>
				</div>
			 </div>
		  </div>
	   </section>
	</div>
 </section>
